/** HEADER **/
.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}
.category-tile {
  background-color: lightgray;
  height: 1000px;
}
#header-nav {
  background-color: darkgray;
  border: black solid 2px;
  border-radius: 0;
  padding-bottom: 20px;
}
.navbar-brand h1 {
  color: black;
  margin-top: 0;
}
h2 {
  color: black;
}
h3 {
  color: black;
  padding-top: 10px;
}
p {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}
#nav-list li {
  border: 1px solid black;
  text-align: center;
  background-color: lightgray;
  color: black;
  padding: 5px;
}
.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 2px solid black;
}
.navbar-header button.navbar-toggle:focus,
.navbar-header .icon-bar:focus {
  border: 2px solid white;
}
.row {
  padding-right: 30px;
  padding-left: 30px;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #e7e7e7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/* END HEADER */

/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */

  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 {
    /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p {
    /* Kosher cert */
    font-size: 0.6em;
    margin-top: 12px;
  }
  .navbar-brand p img {
    /* Star-K */
    height: 20px;
  }

  #collapsable-nav a {
    /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span {
    /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  /* End Header */
}
